.main 	{		color: #ffffff;
						background-color: #ffffff;
						font-family:sans-serif;
						border-color: #ffffff;
			 			border-style:solid;
						border-width: 1px;
			}

.tooltip {	}

.tooltip:hover .tooltiptext { visibility: visible;}

			/* Tooltip text */
.tooltip .tooltiptext {
			    visibility: hidden;
			    max-width: 50 px;
			    text-align: left;
			    padding: 5px;
			    border-radius: 5px;

			    /* Position the tooltip text - see examples below! */
			    position: absolute;
					top: 	20px;
    			left: 250px;
			    z-index: 1;
			}

.alignLeft{ float: left;display: inline-block; }
.alignRight{ float: right;display: inline-block; }

.noBorder {		border-width: 0px ;	}

.double	 {		border-right: thick double #ffffff; }

.padding{	padding: 2px;
			margin-top: 2px;
			margin-bottom: 2px;
		}

.bordersTop{ 	margin-top: 10px;
				border-top: 2px solid;
				border-bottom: 2px solid;
			 	border-color: #ffffff;
			}

.centred{	transform: translateX(50%) ;

		}

.canvasOverlay{	position: absolute;
    						left: 1px;
    						top: 1px;
    						z-index: 10;
							}

.slider-width100{ width: 100px;
		}

h3	{	font-family:sans-serif;
		margin:2px;
	}

h2	{	font-family:sans-serif;
		margin:1px;
	}

p	{	font-family:sans-serif;
		margin:1px;
		line-height: 110%;
	}

html, body {	width:  100%;
				height: 100%;
				margin: 0px;
				padding:0px;
				background-color: #ffffff;
				overflow: hidden;
	   		}

button	{}

select	{}

form	{	margin:0px;
			border-width: 0px !important;
			direction: ltr;
		}

input	{	text-align: left;
			width:37px;
			padding: 1px;
		}

#canvas{	float:left;

			margin:0px;
			padding:0px;
		}

#internal{	padding:0px;
			margin:0px;
			direction: ltr;
		}

#menus{		float:left;
			width: 240px;
			height: 100%;
			padding:5px;
			margin:0px;
			box-sizing: border-box;
			line-height: 200%;
			overflow-y: scroll;
			direction: rtl;
		}
