
body{	background-color: #FFFFFF;
		padding:0px;
		border:0px;
		margin:0px;
	}

h2	{	font-family:sans-serif;
		margin:1px;
	}

p	{	font-family:sans-serif;
		margin:1px;
	}

canvas{	background-color: #E5F0FF;
		border-color: #007ACC;
		border-width: 1px;
		border-style: solid;
		margin:0px;
		padding:0px;
		z-index: -1;
	}

#wrapper{	position: absolute;
			left: 10px;
			top: 10px;
			width: 180px;		
			background-color: transparent;
			color: #000000;
			opacity: 0.1;
			transition: opacity 1s;
			padding:0px;
			margin:0px;
			box-sizing: border-box;
		}

#wrapper:hover{	opacity: 1; }

html, body {	width:  100%;
				height: 100%;
				margin: 0px;
				padding:0px;
				overflow: hidden;
				background-color: #007ACC;
	   		}
	
button	{	font-family:sans-serif;
			border-color: #00000;
			border-width: 1px;
			border-style: solid;
			margin:1px;
		}
	
form	{	font-family:sans-serif;
			margin:1px;
		 }

input{	font-family:sans-serif;
		text-align: center;
		width:30px;
		border-width: 0px;
		background-color: #00000;
	}